.teamCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5%;
  // border: 5px solid blue;
}

.meetTheTeam {
  // border: 5px solid red;
}

.teamCard {
  flex: 0 0 calc(101.5% / 6 - 2%);
  margin-top: 10px;
  margin-bottom: 10px;
  // border: 5px solid red;
}

.teamMemberName {
  font-weight: 800;
  margin-bottom: -10px;
}

.teamCard img {
  max-width: 100%;
  height: auto;
}

.meetTheTeam {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
